/* work section starts */
.work{
    /* background: #010124; */
    background: linear-gradient(to bottom, #9c118a, #ce21b7);
    margin-top: 5rem;
  }
  .work h2{
    color: #fff;
    padding: 1rem;
  }
  .work .heading span{
    color:#ffae00;
  }
  .work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }
  .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  .work img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
  }
  .layer{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), #ffae00);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
  }
  .layer h3{
    font-weight: 500;
    margin-bottom: 20px;
  }
  .layer a{
    margin-top: 20px;
    color: #ffae00;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #9c118a;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
  }
  .work:hover img{
    transform: scale(1.1);
  }
  .work:hover .layer{
    height: 100%;
  }
  .work .btn{
    display: block;
    margin: 50px auto;

    border: 1px solid #9c118a;
    padding: 14px 50px;
    
  }